
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
}
h1{
    font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top: 10%;
  user-select: none;
  color:darkmagenta;
}
.unit{
    font-family: "Roboto", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top: 5%;
  user-select: none;
 

}
.unit a{
  color: darkblue;
  text-decoration: none;
}
.unit a:hover{
    color: deeppink;
}
